<div class="inicio-card input-group flex-nowrap">
  <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
    aria-expanded="false">Agregar</button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" routerLink="/repertorio/album/agregar">Álbum</a></li>
    <li><a class="dropdown-item" routerLink="/repertorio/canciones_Album/agregar">Canción</a></li>
  </ul>

  <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-magnifying-glass"></i></span>
  <input type="text" class="form-control bg-dark text-white" placeholder="Buscar" aria-label="Username"
    aria-describedby="addon-wrapping" [(ngModel)]="search" autofocus>
  <a type="button" class="btn btn-outline-light" (click)="tabla=!tabla">Otra Vista</a>
</div>

<label>Total: {{total}} registros</label>

<div class="container-scroll row" *ngIf="tabla; else lista">
  <div class="col-md-4" *ngFor="let album of Albums | filter:search" style="margin-bottom: 1.5rem;">
    <div class="card text-center">
      <div class="card-header text-white d-flex justify-content-between align-items-center">
        {{album.Nombre}}

        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
          <button class="btn btn-danger" (click)="borrar(album.idAlbum)">
            <i class="far fa-trash-alt"></i>
          </button>

          <button [routerLink]="['/repertorio/buscaCancion_Album', album.idAlbum]" class="btn btn-success btn-block">
            <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
          </button>

          <button class="btn btn-primary" (click)="show = !show">
            <i class="fa-solid fa-circle-info"></i>
          </button>
        </div>

      </div>
      <img [src]="album.Portada == '' ? '/assets/noImagen.png' : album.Portada " alt="Imagen del Album">
      <div class="card-body" *ngIf="show">
        <p style="font-weight: bold;">Grupo</p>
        <p>{{album.Grupo}}</p>
        <p style="font-weight: bold;">Canciones</p>
        <p>{{album.Canciones}}</p>
        <p style="font-weight: bold;">Duración</p>
        <p>{{album.Duracion}}</p>
        <p style="font-weight: bold;">Lanzamiento</p>
        <p>{{album.FechaLanzamiento}}</p>
        <p style="font-weight: bold;">Disquera</p>
        <p>{{album.Disquera}}</p>
        <a [routerLink]="['/repertorio/album/actualizar', album.idAlbum]" class="btn btn-info btn-block">Editar</a>
      </div>
    </div>
  </div>
</div>

<!-- Tabla -->
<ng-template #lista>
  <div class="container-scroll">
    <div class="table-responsive">
      <table id="myTable" class="table table-hover table-dark resp">
        <thead>
          <tr>
            <th (click)="setOrder('idAlbum')" scope="col">#</th>
            <th (click)="setOrder('Nombre')" scope="col">Nombre</th>
            <th (click)="setOrder('Canciones')" scope="col">No. Canciones</th>
            <th (click)="setOrder('Disquera')" scope="col">Disquera</th>
            <th (click)="setOrder('Duracion')" scope="col">Duracion</th>
            <th (click)="setOrder('Lanzamiento')" scope="col">Lanzamiento</th>
            <th (click)="setOrder('Grabacion')" scope="col">Grabacion</th>
            <th (click)="setOrder('Genero')" scope="col">Genero</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let album of Albums | orderBy: order:reverse:caseInsensitive | filter:search; index as i ">
            <!-- | paginate: { itemsPerPage: 100, currentPage: p } |  -->
            <!-- <td>{{i+1}}</td> -->
            <td>{{album.idAlbum}}</td>
            <td>{{album.Nombre}}</td>
            <td>{{album.Canciones}}</td>
            <td>{{album.Disquera}}</td>
            <td>{{album.Duracion}}</td>
            <td>{{album.Lanzamiento | date: 'dd / MMMM / yyyy'}}</td>
            <td>{{album.Grabacion}}</td>
            <td>{{album.Genero}}</td>
            <td>
              <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <a [routerLink]="['/repertorio/album/actualizar', album.idAlbum]" class="btn btn-info btn-block">
                  <i class="fa-solid fa-pen-to-square"></i>
                </a>

                <button [routerLink]="['/repertorio/buscaCancion_Album', album.idAlbum]" class="btn btn-success btn-block">
                  <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                </button>

                <button class="btn btn-danger" (click)="borrar(album.idAlbum)">
                  <i class="far fa-trash-alt"></i>
                </button>
              </div>

            </td>
          </tr>
        </tbody>
      </table>
      <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
    </div>
  </div>
</ng-template>
