<div class="inicio-card input-group flex-nowrap">
  <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
    aria-expanded="false">Agregar</button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" routerLink="/repertorio/canciones/agregar">Canción</a></li>
    <li>
      <hr class="dropdown-divider">
    </li>
    <li><a class="dropdown-item" routerLink="/repertorio/album/agregar">Álbum</a></li>
    <li><a class="dropdown-item" routerLink="/repertorio/canciones_Album/agregar">Canción</a></li>
  </ul>

  <a routerLink="/repertorio/grupo" type="button" class="btn btn-success">Regresar</a>

  <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-magnifying-glass"></i></span>
  <input type="text" class="form-control bg-dark text-white" placeholder="Buscar" aria-label="Username"
    aria-describedby="addon-wrapping" [(ngModel)]="search" autofocus>
</div>

<div class="container-scroll row">
  <div class="col-md-5 margen">
    <div class="card card-body text-center bg-dark">
      <img class="grupo" [src]="Grupo.Logo == '' ? '/assets/noImagen.png' : Grupo.Logo " alt="Imagen del Grupo">
    </div>
  </div>

  <div class="col-md-7 margen">
    <div class="card text-center bg-dark">
      <div class="card-body text-white">
        <div class="row">
          <div class="text-white d-flex justify-content-start align-items-center text-center col-md-4">
            <a [routerLink]="['/repertorio/grupo/actualizar', Grupo.idGrupo]" class="btn btn-outline-success">Editar
              Grupo</a>
          </div>

          <div class="text-white d-flex justify-content-end align-items-center text-center col-md-8">
            <a [routerLink]="['/repertorio/buscaCancion_Grupo', Grupo.idGrupo]" class="btn btn-success btn-block">
              <i class="fa-solid fa-music"></i>
            </a>

            <a [routerLink]="['/repertorio/buscaAlbum_Grupo', Grupo.idGrupo]" class="btn btn-warning btn-block">
              <i class="fa-sharp fa-solid fa-compact-disc"></i>
            </a>

            <a [routerLink]="['/repertorio/buscaIntegrante_Grupo', Grupo.idGrupo]" class="btn btn-danger btn-block">
              <i class="fa-solid fa-user"></i>
            </a>
          </div>
        </div>
        <br>
        <p><strong>Álbums: </strong>{{Grupo.Albumes}}</p>
        <p><strong>Canciones: </strong>{{Grupo.Cancion}}</p>
        <p style="font-weight: bold;">Origen</p>
        <p>{{Grupo.Origen}}</p>
        <p style="font-weight: bold;">Genero</p>
        <p>{{Grupo.Genero}}</p>
        <p style="font-weight: bold;">Sellos Discograficos</p>
        <p>{{Grupo.Sellos}}</p>
        <p style="font-weight: bold;">Estado</p>
        <p>{{Grupo.Estado}}</p>
        <p style="font-weight: bold;">Sitio Web</p>
        <p><a href="{{Grupo.SitioWeb}}" target="_blank">{{Grupo.SitioWeb}}</a></p>
      </div>
    </div>
  </div>

  <div class="col-md table-responsive">
    <table class="table table-hover table-dark resp" id="myTable">
      <thead>
        <tr>
          <th (click)="setOrder('idCancion')" scope="col">#</th>
          <th (click)="setOrder('Nombre')" scope="col">Nombre</th>
          <th (click)="setOrder('Albums')" scope="col">Álbums</th>
          <th (click)="setOrder('Duracion')" scope="col">Duración</th>
          <th (click)="setOrder('Publicacion')" scope="col">Publicación</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Canciones of Canciones | orderBy: order:reverse:caseInsensitive | filter:search; index as i">
          <!-- <td>{{i+1}}</td> -->
          <td>{{Canciones.idCancion}}</td>
          <td>{{Canciones.Nombre}}</td>
          <td>{{Canciones.Albums}}</td>
          <td>{{Canciones.Duracion}}</td>
          <td>{{Canciones.Publicacion}}</td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
              <button [routerLink]="['/repertorio/canciones/actualizar', Canciones.idCancion]"
                class="btn btn-info btn-block"><i class="fa-solid fa-pen-to-square"></i>
              </button>

              <button class="btn btn-danger" (click)="borrar(Canciones.idCancion)">
                <i class="far fa-trash-alt"></i>
              </button>
            </div>

          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>